.states
*.db
*.py[cod]
.DS_Store
.idea
.venv
.web
__pycache__/
assets/external/
.vercel
dist/
sapphireui.egg-info
.reflex_ui_cache/
src/components/
assets/docs/-components/
.vscode/
.vscode-test/
.env
.pypirc