@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --chart-1: oklch(0.4 0 0);
    --chart-2: oklch(0.55 0 0);
    --chart-3: oklch(0.7 0 0);
    --chart-4: oklch(0.82 0 0);
    --chart-5: oklch(0.92 0 0);
}

.dark {
    --radius: 0.625rem;
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --chart-1: oklch(0.4 0 0);
    --chart-2: oklch(0.55 0 0);
    --chart-3: oklch(0.7 0 0);
    --chart-4: oklch(0.82 0 0);
    --chart-5: oklch(0.92 0 0);
}

.theme-blue {
    --foreground: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.623 0.214 259.815);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.623 0.214 259.815);
}

.theme-blue-dark {
    --background: oklch(0.141 0.005 285.823);
    --card: oklch(0.21 0.006 285.885);
    --popover: oklch(0.21 0.006 285.885);
    --primary: oklch(0.546 0.245 262.881);
    --secondary: oklch(0.274 0.006 286.033);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --ring: oklch(0.488 0.243 264.376);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.546 0.245 262.881);
    --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-ring: oklch(0.488 0.243 264.376);
}

.theme-red {
    --chart-1: oklch(0.81 0.1 20);
    --chart-2: oklch(0.64 0.21 25);
    --chart-3: oklch(0.58 0.22 27);
    --chart-4: oklch(0.51 0.19 28);
    --chart-5: oklch(0.44 0.16 27);
    --foreground: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.637 0.237 25.331);
    --primary-foreground: oklch(0.971 0.013 17.38);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.637 0.237 25.331);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.637 0.237 25.331);
    --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.637 0.237 25.331);
}

.theme-red-dark {
    --chart-1: oklch(0.81 0.1 20);
    --chart-2: oklch(0.64 0.21 25);
    --chart-3: oklch(0.58 0.22 27);
    --chart-4: oklch(0.51 0.19 28);
    --chart-5: oklch(0.44 0.16 27);
    --background: oklch(0.141 0.005 285.823);
    --card: oklch(0.21 0.006 285.885);
    --popover: oklch(0.21 0.006 285.885);
    --primary: oklch(0.637 0.237 25.331);
    --primary-foreground: oklch(0.971 0.013 17.38);
    --secondary: oklch(0.274 0.006 286.033);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --ring: oklch(0.637 0.237 25.331);
    --sidebar-primary: oklch(0.637 0.237 25.331);
    --sidebar-primary-foreground: oklch(0.971 0.013 17.38);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-ring: oklch(0.637 0.237 25.331);
}

.theme-green {
    --foreground: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.723 0.219 149.579);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.723 0.219 149.579);
    --chart-1: oklch(0.87 0.14 154);
    --chart-2: oklch(0.72 0.19 150);
    --chart-3: oklch(0.63 0.17 149);
    --chart-4: oklch(0.53 0.14 150);
    --chart-5: oklch(0.45 0.11 151);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.723 0.219 149.579);
    --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.723 0.219 149.579);
}

.theme-green-dark {
    --background: oklch(0.141 0.005 285.823);
    --card: oklch(0.21 0.006 285.885);
    --popover: oklch(0.21 0.006 285.885);
    --primary: oklch(0.696 0.17 162.48);
    --primary-foreground: oklch(0.393 0.095 152.535);
    --secondary: oklch(0.274 0.006 286.033);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --ring: oklch(0.527 0.154 150.069);
    --chart-1: oklch(0.87 0.14 154);
    --chart-2: oklch(0.72 0.19 150);
    --chart-3: oklch(0.63 0.17 149);
    --chart-4: oklch(0.53 0.14 150);
    --chart-5: oklch(0.45 0.11 151);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.696 0.17 162.48);
    --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-ring: oklch(0.527 0.154 150.069);
}

.theme-amber {
    --foreground: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.795 0.184 86.047);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.795 0.184 86.047);
    --chart-1: oklch(0.88 0.15 92);
    --chart-2: oklch(0.77 0.16 70);
    --chart-3: oklch(0.67 0.16 58);
    --chart-4: oklch(0.56 0.15 49);
    --chart-5: oklch(0.47 0.12 46);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.795 0.184 86.047);
    --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.795 0.184 86.047);
}

.theme-amber-dark {
    --background: oklch(0.141 0.005 285.823);
    --card: oklch(0.21 0.006 285.885);
    --popover: oklch(0.21 0.006 285.885);
    --primary: oklch(0.795 0.184 86.047);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.274 0.006 286.033);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --ring: oklch(0.554 0.135 66.442);
    --chart-1: oklch(0.88 0.15 92);
    --chart-2: oklch(0.77 0.16 70);
    --chart-3: oklch(0.67 0.16 58);
    --chart-4: oklch(0.56 0.15 49);
    --chart-5: oklch(0.47 0.12 46);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.795 0.184 86.047);
    --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-ring: oklch(0.554 0.135 66.442);
}

.theme-purple {
    --foreground: oklch(0.141 0.005 285.823);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.606 0.25 292.717);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.606 0.25 292.717);
    --chart-1: oklch(0.83 0.11 306);
    --chart-2: oklch(0.63 0.23 304);
    --chart-3: oklch(0.56 0.25 302);
    --chart-4: oklch(0.5 0.24 302);
    --chart-5: oklch(0.44 0.2 304);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.606 0.25 292.717);
}

.theme-purple-dark {
    --background: oklch(0.141 0.005 285.823);
    --card: oklch(0.21 0.006 285.885);
    --popover: oklch(0.21 0.006 285.885);
    --primary: oklch(0.541 0.281 293.009);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.274 0.006 286.033);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --ring: oklch(0.541 0.281 293.009);
    --chart-1: oklch(0.83 0.11 306);
    --chart-2: oklch(0.63 0.23 304);
    --chart-3: oklch(0.56 0.25 302);
    --chart-4: oklch(0.5 0.24 302);
    --chart-5: oklch(0.44 0.2 304);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.541 0.281 293.009);
    --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-ring: oklch(0.541 0.281 293.009);
}
