name: Deploy Reflex App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Reflex Cloud
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install uv
          uv pip install --system -e .

      - name: Generate Markdown Files
        run: python -m scripts.generate_markdown

      - name: Deploy to Reflex
        id: deploy
        run: |
          reflex deploy --app-name sapphireui --project ${{ secrets.REFLEX_PROJECT_ID }} --token ${{ secrets.REFLEX_AUTH_TOKEN }} --no-interactive
