name: Publish SapphireUI to PyPI

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish --trusted-publisher
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}